*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* border-style: dotted; */
}

body{
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #c0c0c0;
}
header{
  width: 100%;
  /* background-color: #; */
  height: 5rem;
}
.logo{
  height: 50%;
}

.nums{
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2%;
  padding-top: 1rem;
}

svg{
  position: absolute;
  align-self: self-start;
  top: -2rem;
  left: -2rem;
}
/* path{
  
} */

.numeroshead{
  display: flex;
  width: 10%;
  height: fit-content;
  justify-content: center;
  border-radius: 1rem;
}

main{
  display: grid;
  height: 100%;
  width: 100%;
  background-color:#c0c0c0;
  /* grid-template: repeat(auto-fill, minmax(min-content, 1fr)) / 
  repeat(2, minmax(fit-content, 1fr)); */

  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}
h1{text-align: center;
  font-size: 5rem;
  line-height: .8;
  font-weight: 600;
  letter-spacing: -0.0018em;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.content{
  width: 55rem;
  height: 52rem;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: auto;
  padding: 1rem;
}

.content:nth-child(1){
  grid-column: 1/3;
  width: 100%;
  height: fit-content;
  padding: 0;
  border-radius: 0;
  
}
.content:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  
}
.content:nth-child(3){
  display: grid;
  gap: 1rem;

}

.content:nth-child(4){
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 95%;
}

.mapa iframe{
  height: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
.content3{
  position: relative;
  display: flex;
  justify-content: space-around;
  /* align-content: space-between; */
}

.content3 p{
  width: 50%;
  margin-left: 1rem;
  text-align: justify;
  align-self: center;
}

.content3 h2{
  /* display: inline; */
  position: absolute;
  font-size: 3rem;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  left: 5rem;
  top: 3rem;
}

#h2max{
  left: 1.6rem;
}
/* #max-logo{
  width: 40%;
  position: absolute;
  left: 2rem;
  top: 7rem;
} */

img{
  max-width: 50%; 
  max-height: 100%;
  object-fit: contain;
  align-self: baseline;
  border-radius: 30px;
}
.banner{
  display: flex;
  flex-direction: column;
  background-image: url(../storage/productos.png);
  height: 45rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  /* border-radius: 30px; */
}
.banner h1, .banner p{
  display: inline;
  text-align: center;
  color: #333;
}
#phone15{
  max-width: 70%;
  align-self: center;
}
button{
  align-self: center;
}
.form {
  /* display: flex; */
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
  /* align-items: center; */
  margin: auto;
}

h1 {
  color: #333;
}

.parrafo {
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #555;
}

input,
textarea {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.content:nth-child(5){
  display: grid;
  grid-template-rows: repeat(2,1fr);
}

.numsbottom{
  grid-column: 1/3;
}


.lists{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: center;
  padding: 1rem;
  border-radius: 30px;
}
ul{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1.5rem;
  font-size: 2rem;
  gap: 2rem;
}

footer div ul{
  list-style: none;
  padding: 0;
}


.mapa{
  display: flex;
  justify-content: center;
}


.main2{
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(2,1fr);
  height: 100vh;
  gap: 0.2rem;
  margin-left: auto;
}
.items{
  grid-column: 1/3;
  grid-row: 2/10;
  display: grid;
  grid-template-columns: repeat(4,minmax(20rem,1fr));
  justify-items: center;
  height: fit-content;
  justify-content: center;
}
/* .main2{
  height: 100vh;
} */
footer{
  grid-column: 1/3;
  grid-row: 11/16;
  width: 100%;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 1rem;
}

footer div{
  height: 90%;
}
a {
  background-color: #001b2d;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  background-color: #ddd;
  color: black;
}
.main2 .nums{
  grid-column: 1/3;
  height: 80%;
  width: 97%;
  gap: 0;
}

#boton-header{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  background-color: #3498db;
  color: #ffffff;
  border: 2px solid #3498db;
}

#boton-header:hover {
    background-color: #001b2d;
    border: 2px solid #2980b9;
}